/*GEneral styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: hsl(189, 81%, 92%);
    min-height: 100vh; /* we use minimum height so when the screen is larger than the browser no scrollbar will pop up*/
    line-height: 1.6; /*controls the vertical spacing between lines of text*/
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari */
}


/* nav bar styling */

.container > div:first-child {
    margin-left: 0em;
}

a {
    color: rgb(250, 249, 249);
    transition: all 300ms ease;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

nav {
    background-color: #3a81ec;
    width: 100%;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

nav button {
    display: none;
}

.nav_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
}

.nav_logo {
    font-weight: 600;
    font-size: 1.2rem;
}

.nav_items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav_profile {
    position: relative;
    cursor: pointer;
}

.nav_profile ul {
    position: absolute;
    top: 125%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    background-color: #3a81ec;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
} 

.nav_profile:hover > ul {
    visibility: visible;
    opacity: 1;
}

.nav_profile ul li a {
    padding: 1rem;
    background-color: #3a81ec;
    display: block;
    width: 100%;
}

.nav_profile ul li:last-child a {
    background-color: rgba(255, 0, 0, 0.758);
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 50%;
    border: 0.2rem solid black;
}

.form_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    margin-top: 1em;
}

button {
    color: rgb(0, 0, 0);
    background-color: #253ee04b;
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
    border: none;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    width: 10em;
    
}

.form_buttons a {
    color: black;
}

.form_buttons > a {
    text-decoration: underline;
}

/* sign in form styling */

.form_box {
    width: 35%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.3em;
    font-size: 20px;
}

input {
    background-color: hsl(189, 81%, 92%);
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 0.5em;
    border: none;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    outline: 0;
    font-size: 20px;
}

.signinForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 10em;
}

/* main page pictures styling */

.main_page_images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin-top: 10em;
}

.title {
    font-size: 32px;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-around;
    gap: 2.5%;
    width: 100%;
    height: 100%;
}

.post_info > p {
    font-size: 22px;
}

.post_image {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 1em; */
    margin: 1em;

}

.post_image button {
    background-color: #3a81ec;
}

.post_image img {
    border-radius: 10px;
}

/* designing alert message */

.alert_message {
    display: hidden;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.223);
    height: 50px;
    margin-bottom: 1.5em;
    font-size: 20px;
    
}

/* footer styling */

footer {
    margin-top: 5em;
    background-color: #1e1e66;
    padding: 5rem 0;
    box-shadow: inset 0 1.5rem rgba(0, 0, 0, 0.2);
}

.footer_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.footer_socials a{
    background-color: #3a81ec;
    border-radius: 50%;
    height: 2.3em;
    width: 2.3em;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 0.7em;
}

.footer_socials a:hover{
    background-color: white;
    color: #0f0f3e;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    color: white;
    margin-top: 3.5em;
    margin-inline: 1em;
}

footer h4 {
    margin-bottom: 0.6em;
}

footer ul a {
    opacity: 0.75;
}

footer ul a:hover {
    opacity: 1;
}

/* styling about page */

.main_page_images > p {
    font-size: 24px;
    margin-inline: 8em;
    text-align: justify;
}

/* styling contact info page */
.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.inside_contact_info {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 24px;
}

/*Responssiveness*/
@media (max-width: 1024px){
    .main_page_images > p {
        margin-inline: 3em;
    }
}

@media (max-width: 768px) { /* tablets */
    nav button {
        display: inline-block;
        font-size: 1.5rem;
        background: transparent;
        color: white;
        cursor: pointer;
    }

    nav button#close_nav_btn {
        display: none;
    }

    nav button#open_nav_btn, nav button#close_nav_btn {
        box-shadow: none;
    }

    .nav_container {
        position: relative;
    }

    .nav_items {
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 12rem;
        align-items: flex-start;
        justify-content: center;
        gap: 0;
        display: none;
    }

    .nav_items li {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
        background: #1e1e66;
        border-top: 1px solid #0f0f3e;
        animation: animationDropdown 1s 0s ease forwards;
        opacity: 0;
        transform-origin: top; /* where to start the animation from */
    }

    .nav_items li:nth-child(2) {
        animation-delay: 250ms; /* adding a delay for each item in the nav bar */
    }

    .nav_items li:nth-child(3) {
        animation-delay: 500ms; /* adding a delay for each item in the nav bar */
    }

    .nav_items li:nth-child(4) {
        animation-delay: 750ms; /* adding a delay for each item in the nav bar */
    }

    @keyframes animationDropdown {
        0% {
            transform: rotateX(90deg);
        }
        100% {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    .nav_items a {
        border-radius: 0;
        width: 100%;
        height: 100%;
        background: #1e1e66;
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }

    .nav_profile {
        background: #1e1e66;
    }

    .nav_profile ul {
        top: 100%;
        width: 100%;
    }

    .nav_profile .avatar {
        margin-left: 2rem;
        border: 0;
    }

    .info {
        flex-direction: column;
        align-items: center;
    }
    .post_image {
        width: 90%;
    }
    .title {
        font-size: 24px;
    }
    .form_box {
        width: 80%;
    }
    button {
        font-size: 16px;
        width: 8em;
    }
    .footer_container article{
        width: 40%;;
    }
    .footer_container {
        flex-wrap: wrap;
    }
    .main_page_images > p {
        font-size: 16px;
    }
 }

@media (max-width: 480px) { /* mobile phones */
    .info {
        flex-direction: column;
        align-items: center;
    }
    .post_image {
        width: 90%;
    }
    .post_info > p {
        font-size: 18px;
    }
    button {
        font-size: 14px;
        width: 6em;
    }
    .footer_container article{
        width: 60%;;
    }
    .main_page_images > p {
        margin-inline: 2em;
        font-size: 12px;
    }
 }